{% extends "base.html" %}
{% block body_block %}


<br><br>
<div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <div class="alert alert-info" style="text-align: center;"><strong>CONTACT US</strong></div>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <span style="font-family: times new roman,times; font-size: 12pt;">Sikkim University</span>
                        <span style="font-family: times new roman,times; font-size: 12pt;">6th mile, Samdur,</span>
                        <span style="font-family: times new roman,times; font-size: 12pt;">P. O. : Tadong-737102</span>
                        <span style="font-family: times new roman,times; font-size: 12pt;">Gangtok, Sikkim</span>
                        <p><span style="font-family: times new roman,times; font-size: 12pt;"><strong><span style="color: #000000;">Phone: +91-3592-251468<br>Fax:
                                        +91-3592-251067</span></strong></span></p>
                        <span style="font-family: times new roman,times; font-size: 12pt;"><strong><span
                                    style="color: #000000;">Email: <span><a
                                            href="mailto:contactus@cus.ac.in">contactus@cus.ac.in</a></span>
                                </span></strong></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div class="col-sm-2">&nbsp;</div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>

{% endblock %}